body {
    margin: 0px;
    min-height: 100vh;
    width: auto;
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    justify-content: space-between;
    gap: 0;
}

.header,
.footer {
    background-color: #303f55;
    color: aliceblue;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 16px;
}

.logo{
    color: aliceblue;
    font-size: 24px;
    font-weight: bold;
}

.header {
    justify-content: space-between;
}

.header-links {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.content {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
}

.content-section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    padding: 35px;
}

/* First Section*/

.content-section.one {
    background-color:  #1f2937;
    min-height: 100vh;
}

.content-section .one {
    background-color: #526b8b11;
    border-radius: 10px;
    padding: 15px;
    max-width: 80vw;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    gap: 20px;
}

.content-one-info {
    color: aliceblue;
    display: flex;
    flex-flow: column nowrap;
    align-content: space-between;
    flex: 1 1 400px;
    gap: 15px;
}

.coi-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.coi-info {
    font-size: 18px;
    flex: 1 1 auto;
}

.one .helper {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.content-one-img{
    display: flex;
    align-items: center;
    flex: 1 1 400px;
}

.content-one-img img{
    width: 100%;
    border-radius: 10px;
    height: auto;
    flex: 1 1 auto;
}
 

/* Second Section */

.content-section.two {
    min-height: 80vh;
}

.content-section .two {
    max-width: 70vw;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

.content-two-title{
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    padding: 5px;
    margin-bottom: 30px;
    text-align: center;
}

.content-two-img {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px 50px;
}

.cti-elements {
    min-width: 100px;
    max-width: 225px;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

.content-two-img img {
    border: 4px solid #3881f6d0;
    border-radius: 10px;
    flex: 0 1 auto;
    max-width: 100%;
    min-height: 65px;
    max-height: 100%;
}

.cti-info {
    padding: 5px;
    text-align: center;
}

/* Third Section */

.content-section.three {
    background-color: #e5e7eb;
    min-height: 60vh;
}

.content-section .three {
    max-width: 70vw;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

.quote {
    font-size: 36px;
    font-weight:lighter;
    font-style: italic;
    color: #1f2937a6;
    padding: 15px;
}

.author {
    font-weight: bolder;
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
}

/* Fourth Section */

.content-section.four {
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.content-section .four{
    background-color: #3881f6ec ;
    border-radius: 8px;
    padding: 20px;
    min-width: 50vw;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.four .title {
    font-size: 24px;
    font-weight: bold;
}

.sign-up button {
    background-color: #3881f6ec;
    border-radius: 6px;
    border: 1px solid rgba(240, 248, 255, 0.8);
    padding: 6px 10px;
    font-size: 14px;
    font-weight: bold;
    width: 100px;
    height: auto;
}

.footer {
    justify-content: center;
}

a {
    text-decoration: none;
    color: aliceblue;
    max-width: 70vw;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}